.viz-panel {
  padding: 0;
  margin: 0;
  display: inline-block;
  background-color: orange;
}

.viz-panel canvas {
  padding: 0;
  margin: 0;
  display: inline-block;
  background-color: green;
}

.overlay {
  position: absolute;
  top: 10;
  left: 10;
}
