<h1>MediaElement Demo</h1>
<div class="media-wrapper">
  <video id="player1" width="640" height="360" style="max-width:100%;"
    poster="http://www.mediaelementjs.com/images/big_buck_bunny.jpg" preload="none" controls playsinline
    webkit-playsinline>
    <source src="https://commondatastorage.googleapis.com/gtv-videos-bucket/CastVideos/mp4/BigBuckBunny.mp4"
      type="video/mp4">
    <track srclang="en" kind="subtitles" src="mediaelement.vtt">
    <track srclang="en" kind="chapters" src="chapters.vtt">
  </video>
</div>
