@import "../../shared/styles/flexy.style.scss";
@import "../../shared/styles/player.theme.scss";

.drop-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.player-container {
  font-size: 28pt;
  color: #dcdde1;
}

.center-console {
  background: #40739e;

  .row {
    // border: 1px solid #24aa24;
    text-align: center;
  }

  .col {
    // border: 1px solid #3434aa;
  }
}

.grabber {
  cursor: grab;
  -webkit-app-region: drag;
}
