<style>
  @import url('https://fonts.googleapis.com/css?family=Nunito|PT+Mono&display=swap');

</style>
<div class="drop-container flexy-container"
  (dragover)="$event.preventDefault(); $event.dataTransfer.dropEffect = 'move'" (drop)="dropped($event)">

  <ProButton name="settings" (push)="onPush($event)">
    <fa-icon [icon]="['fas', 'cog']"></fa-icon>
  </ProButton>

  <div class="col-auto grabber ptmono noselect">
    ConjoinedCats
    <fa-icon [icon]="['fas', 'volume-down']" rotate="45"></fa-icon>
    &nbsp;
    <fa-icon [icon]="['fas', 'cat']" flip="horizontal"></fa-icon>
    Flex Player
  </div>

  <ProButton name="min" (push)="onPush($event)">
    <fa-icon [icon]="['fas', 'window-minimize']"></fa-icon>
  </ProButton>
  <ProButton name="max" (push)="onPush($event)">
    <fa-icon [icon]="['fas', 'window-maximize']"></fa-icon>
  </ProButton>
  <ProButton name="close" (push)="onPush($event)">
    <fa-icon [icon]="['fas', 'window-close']"></fa-icon>
  </ProButton>

  <CCDisplay field="title" icon="🎵"></CCDisplay>
  <CCDisplay field="artist" icon="🧑"></CCDisplay>
  <CCDisplay field="album" icon="💿"></CCDisplay>
  <StatusDisplay></StatusDisplay>
  <TimeDisplay></TimeDisplay>
  <VolumeSlider></VolumeSlider>
  <BalanceSlider></BalanceSlider>
  <ProgressScrubber></ProgressScrubber>
  <ProButton name="prev" (push)="onPush($event)">
    <fa-icon [icon]="['fas', 'step-backward']"></fa-icon>
  </ProButton>
  <ProButton name="play" (push)="onPush($event)">
    <fa-icon [icon]="['fas', 'play']"></fa-icon>
  </ProButton>
  <ProButton name="pause" (push)="onPush($event)">
    <fa-icon [icon]="['fas', 'pause']"></fa-icon>
  </ProButton>
  <ProButton name="stop" (push)="onPush($event)">
    <fa-icon [icon]="['fas', 'stop']"></fa-icon>
  </ProButton>
  <ProButton name="next" (push)="onPush($event)">
    <fa-icon [icon]="['fas', 'step-forward']"></fa-icon>
  </ProButton>
  <ProButton name="shuffle" (push)="onPush($event)">
    <fa-icon [icon]="['fas', 'random']"></fa-icon>
  </ProButton>
  <ProButton name="repeat" (push)="onPush($event)">
    <fa-icon [icon]="['fas', 'redo-alt']"></fa-icon>
  </ProButton>
  <ProButton name="playlist" (push)="onPush($event)">
    <fa-icon [icon]="['fas', 'list-alt']"></fa-icon>
  </ProButton>
  <ProButton name="viz" (push)="onPush($event)">
    <fa-icon [icon]="['fas', 'eye']"></fa-icon>
  </ProButton>
  <ProButton name="mute" (push)="onPush($event)">
    <fa-icon [icon]="['fas', 'volume-mute']"></fa-icon>
  </ProButton>
  <ProButton name="render" (push)="onPush($event)">
    <fa-icon [icon]="['fas', 'cat']"></fa-icon>
  </ProButton>
  <ProButton name="send" (push)="onPush($event)">
    <fa-icon [icon]="['fas', 'cat']"></fa-icon>
  </ProButton>
  <VizPanel side="left" width="400" height="300"></VizPanel>
  <VizOscilloscope width="400" height="300"></VizOscilloscope>
  <VizBasicBars width="400" height="300"></VizBasicBars>
  <FPSCounter></FPSCounter>
  <!-- <VizPanel side="right"></VizPanel> -->
</div>
