<style>
  @import url('https://fonts.googleapis.com/css?family=Nunito|PT+Mono&display=swap');

</style>
<div class="drop-container" (dragover)="$event.preventDefault(); $event.dataTransfer.dropEffect = 'move'"
  (drop)="dropped($event)">
  <div class="fixeddim container-fluid">
    <div class="row">
      <div class="col viz">VizL</div>

      <div class="col-auto container-fluid center-console">
        <div class="row align-items-center justify-content-between">
          <div class="col">⚙</div>
          <div class="col-auto grabber ptmono noselect">ConjoinedCats WebAmp <fa-icon [icon]="faCoffee"></fa-icon>
          </div>
          <div class="col">
            <ProButton name="min" (push)="onPush($event)">⬇</ProButton>
            <ProButton name="max" (push)="onPush($event)">↕</ProButton>
            <ProButton name="close" (push)="onPush($event)">
              <fa-icon [icon]="faCoffee"></fa-icon>
            </ProButton>
          </div>
        </div>

        <div class="row align-items-center">
          <div class="col">
            <CCDisplay field="title" icon="🎵"></CCDisplay>
          </div>
        </div>

        <div class="row align-items-center">
          <div class="col">
            <!-- <ArtistDisplay></ArtistDisplay> -->
            <CCDisplay field="artist" icon="🧑"></CCDisplay>
          </div>
          <div class="col">
            <!-- <AlbumDisplay></AlbumDisplay> -->
            <CCDisplay field="album" icon="💿"></CCDisplay>
          </div>
          <div class="col-auto">
            <StatusDisplay></StatusDisplay>
          </div>
          <div class="col">
            <TimeDisplay></TimeDisplay>
          </div>
        </div>

        <div class="row align-items-center">
          <div class="col">
            <VolumeSlider></VolumeSlider>
          </div>

          <div class="col">
            <BalanceSlider></BalanceSlider>
          </div>
          <!-- </div>
        <div class="row align-items-center"> -->
          <div class="col">
            <ProgressScrubber></ProgressScrubber>
          </div>
        </div>

        <div class="row align-items-center">
          <div class="col">
            <ProButton name="prev" (push)="onPush($event)">⏮</ProButton>
          </div>
          <div class="col">
            <ProButton name="play" (push)="onPush($event)">▶</ProButton>
          </div>
          <div class="col">
            <ProButton name="pause" (push)="onPush($event)">⏸</ProButton>
          </div>
          <div class="col">
            <ProButton name="stop" (push)="onPush($event)">⏹</ProButton>
          </div>
          <div class="col">
            <ProButton name="next" (push)="onPush($event)">⏭</ProButton>
          </div>

          <div class="col">🔀</div>
          <div class="col">🔁</div>
          <div class="col">
            <app-playlist-button></app-playlist-button>
          </div>
          <div class="col">
            <ProButton name="mute" (push)="onPush($event)">🔇</ProButton>
          </div>
        </div>
      </div>

      <div class="col viz">VizR</div>
    </div>
  </div>
  <div style="text-align:center">
    <h2>Using Solid Icons</h2>
    <fa-icon [icon]="['fas', 'square']"></fa-icon>
    <br>
    <fa-icon [icon]="['fas', 'check-square']"></fa-icon>
  </div>
  <hr>
  <div style="text-align:center">
    <h2>Using Regular Icons</h2>
    <fa-icon [icon]="['far', 'square']"></fa-icon>
    <br>
    <fa-icon [icon]="['far', 'check-square']"></fa-icon>
  </div>
  <hr>
  <div style="text-align:center">
    <h2>Using Brand Icons</h2>
    <fa-icon [icon]="['fab', 'stack-overflow']"></fa-icon>
    <br>
    <fa-icon [icon]="['fab', 'github']"></fa-icon>
    <br>
    <fa-icon [icon]="['fab', 'medium']"></fa-icon>
  </div>
  <!-- <div class="emoji-list">
    🔀🔁🔂
    ⏮⏭
    ▶⏸⏯
    ⏹⏏🎦
    ⬇⬆↕✖
    👂👁
    🐱🐢🦖🦕🛸
    🔇🔈🔉🔊
    🎼🎵
    🎙🎤🎚🎛🎧
    📚📔📖📕📗📘📙📒📓
    💸⚙
    🚽⚠🚫☢☣
    ✔❌
    ©®™
    🔴🟠🟡🟢🔵🟣🟤⚫⚪
    🟥🟧🟨🟩🟦🟪🟫⬛⬜
    ◼◻◾◽▪▫
  </div>

  <div>
    <audio id="myAudio_html5" src='X:/test.mp3'></audio>
  </div> -->
</div>
