.drop-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.player-container {
  font-size: 28pt;
}

.fixeddim {
  height: 300px;
  width: 400px;
  border: 2px solid gray;
}

.center-console {
  background: lightcoral;
}

.viz {
  height: 100%;
  width: 100%;
  background: black;
  color: white;
}
