<div class="drop-container" (dragover)="$event.preventDefault(); $event.dataTransfer.dropEffect = 'move'"
  (drop)="dropped($event)">
  <div class="fixeddim container-fluid">
    <div class="row">
      <div class="col viz">VizL</div>

      <div class="col-auto container-fluid center-console">
        <div class="row align-items-center justify-content-between">
          <div class="col">⚙</div>
          <div class="col-auto">ConjoinedCats WebAmp</div>
          <div class="col">
            <CCButton name="Minimize" symbol="⬇" event="min"></CCButton>
            <CCButton name="Maximize" symbol="↕" event="max"></CCButton>
            <CCButton name="Close" symbol="✖" event="close"></CCButton>
          </div>
        </div>

        <div class="row align-items-center">
          <div class="col">
            <CCDisplay field="title" icon="🎵"></CCDisplay>
          </div>
        </div>

        <div class="row align-items-center">
          <div class="col">
            <!-- <ArtistDisplay></ArtistDisplay> -->
            <CCDisplay field="artist" icon="🧑"></CCDisplay>
          </div>
          <div class="col">
            <!-- <AlbumDisplay></AlbumDisplay> -->
            <CCDisplay field="album" icon="💿"></CCDisplay>
          </div>
          <div class="col-auto">
            <StatusDisplay></StatusDisplay>
          </div>
          <div class="col">
            <TimeDisplay></TimeDisplay>
          </div>
        </div>

        <div class="row align-items-center">
          <div class="col">
            <VolumeSlider></VolumeSlider>
          </div>

          <div class="col">
            <BalanceSlider></BalanceSlider>
          </div>
          <!-- </div>
        <div class="row align-items-center"> -->
          <div class="col">
            <ProgressScrubber></ProgressScrubber>
          </div>
        </div>

        <div class="row align-items-center">
          <div class="col">
            <CCButton name="Prev" symbol="⏮" event="prev"></CCButton>
          </div>
          <div class="col">
            <CCButton name="Play" symbol="▶" event="play"></CCButton>
          </div>
          <div class="col">
            <CCButton name="Pause" symbol="⏸" event="pause"></CCButton>
          </div>
          <div class="col">
            <CCButton name="Stop" symbol="⏹" event="stop"></CCButton>
          </div>
          <div class="col">
            <CCButton name="Next" symbol="⏭" event="next"></CCButton>
          </div>

          <div class="col">🔀</div>
          <div class="col">🔁</div>
          <div class="col">
            <app-playlist-button></app-playlist-button>
          </div>
          <div class="col">🔇</div>
        </div>
      </div>

      <div class="col viz">VizR</div>
    </div>
  </div>

  <!-- <div class="emoji-list">
    🔀🔁🔂
    ⏮⏭
    ▶⏸⏯
    ⏹⏏🎦
    ⬇⬆↕✖
    👂👁
    🐱🐢🦖🦕🛸
    🔇🔈🔉🔊
    🎼🎵
    🎙🎤🎚🎛🎧
    📚📔📖📕📗📘📙📒📓
    💸⚙
    🚽⚠🚫☢☣
    ✔❌
    ©®™
    🔴🟠🟡🟢🔵🟣🟤⚫⚪
    🟥🟧🟨🟩🟦🟪🟫⬛⬜
    ◼◻◾◽▪▫
  </div>

  <div>
    <audio id="myAudio_html5" src='X:/test.mp3'></audio>
  </div> -->
</div>
