<div class="window playlist-window">
  <div class="playlist-header">
    <div class="grabber"></div>
    <div class="window-controls">
      <div class="control-button">Main</div>
      <div class="control-button">Min</div>
      <div class="control-button">Max</div>
      <div class="control-button">Close</div>
    </div>
  </div>
  <div class="playlist-content scrollbar" id="style-6">
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
    <div class="playlist-item">Track Title</div>
  </div>
  <div class="playlist-footer">
    <div class="footer-controls">
      <div class="control-button">Select</div>
      <div class="control-button">Add</div>
      <div class="control-button">Remove</div>
      <div class="control-button"><button (click)="test()">Test</button></div>
    </div>
  </div>
</div>
